html, body {
    height: 100vh;
    margin: 0;
}

#app {
    font-family: Avenir,Arial, Helvetica,Arial,sans-serif;
    width: 100%;
    height: 100%
}

.content-container {
    height: 100%;
}

.aside-main {
    width: 250px;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    overflow: hidden;
    transition: 0.3s
}

.aside-menu {
    flex: 1;
}

.title-web {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.title-web-name {
    font-size: 25px
}

.title-web-logo {
    height: 30px;
}

.content-header {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: flex
}

.content-main {
    height: 100%;
    overflow-x: hidden;
    position: relative
}

.content-main-iframe {
    /*    width: 100%;
    border: none;
    display: block;*/
    position: absolute;
    width: 100%;
    height: calc(100% - 10px);
    border: none;
    margin-bottom: 10px
}

.add-edit-iframe {
    border: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    display: block
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toolbar-main {
    cursor: pointer;
    display: flex;
    font-size: 18px;
    margin-left: 5px
}

.avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%
}

:focus {
    outline: 0 !important;
}

.breadcrumb {
    flex: 1;
    height: inherit;
    display: flex;
    align-items: center;
}

.icon-highlight:hover {
    background-color: lightblue;
}

/*重定义elementPlus某个组件样式*/
.el-drawer__header {
    margin-bottom: 0px !important;
    padding: 0 0 0 0 !important;
}

.el-main {
    padding: 0 !important;
}

.el-tabs--border-card {
    border: none !important
}
.el-tabs__content {
    height: calc(100% - 41px);
    box-sizing: border-box;
    padding: 10px 10px 0 10px !important
}
.el-tabs__header{
    height:40px
}