<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/js/vue3.global.prod.js"></script>
    <!-- import CSS -->
    <link href="~/css/element-plus.css" rel="stylesheet" />
    <!-- import JavaScript -->
    <script src="~/js/element-plus.js"></script>
    <script src="~/js/element-plus_icons.min.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/request.js"></script>
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/element-plus_zh-cn.js"></script>
    @await RenderSectionAsync("HeadScripts", required: false)
    <style type="text/css">
        [v-cloak] {
            display: none
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <el-scrollbar height="100%" view-style="height:100%">
            @RenderBody()
        </el-scrollbar>
    </div>
    <script src="~/js/utils.js"></script>
    @await RenderSectionAsync("BodyScripts", required: true)
</body>
</html>
